version: "3.9"

services:
  db:
    image: postgres:14
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: genes
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.api
    container_name: api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=genes
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      - db

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile.web
    container_name: web
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api

volumes:
  db_data:
